# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
terraform.tfvars
terraform.tfvars.json
*.tfplan

# VSCode (nếu bạn dùng)
.vscode/

# macOS system files
.DS_Store

# Logs
*.log
